In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("amazon_products1.csv")

In [47]:
df.shape

(1915, 7)

In [48]:
df.head()

,Category,Product Name,Price,Rating,Number of Reviews,Discounts,Link
0,Laptops,NaN,"67,990.",NaN,NaN,NaN,NaN
1,Laptops,Results,NaN,NaN,NaN,NaN,NaN
2,Laptops,Lenovo Yoga Slim 7 Aura Edition Intel Evo Core...,"1,47,990",5.0 out of 5 stars,3,(29% off),https://www.amazon.in/s?k=laptops#
3,Laptops,"Lenovo ThinkBook 14 Intel 13th Gen Core i3 14""...","43,990",4.1 out of 5 stars,15,(42% off),https://www.amazon.in/s?k=laptops#
4,Laptops,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,"18,499",3.4 out of 5 stars,173,(63% off),https://www.amazon.in/Refurbished-Lenovo-Think...

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1915 entries, 0 to 1914
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           1915 non-null   object
 1   Product Name       1620 non-null   object
 2   Price              1447 non-null   object
 3   Rating             1322 non-null   object
 4   Number of Reviews  1317 non-null   object
 5   Discounts          1350 non-null   object
 6   Link               1436 non-null   object
dtypes: object(7)
memory usage: 104.9+ KB

In [50]:
# Drop rows where "Product Name" is missing or contains irrelevant data
df = df.dropna(subset=["Product Name"])
df = df[df["Product Name"].str.lower() != "results"]

In [51]:
# Ensure all text operations work correctly by converting columns to string first
df["Price"] = df["Price"].astype(str).str.replace(",", "", regex=True).astype(float, errors='ignore')
df["Rating"] = df["Rating"].astype(str).str.extract(r"(\d+\.\d+)").astype(float, errors='ignore')
df["Number of Reviews"] = df["Number of Reviews"].astype(str).str.replace(",", "", regex=True).astype(float, errors='ignore')
df["Discounts"] = df["Discounts"].astype(str).str.extract(r"(\d+)").astype(float, errors='ignore')

In [52]:
df.isnull().sum()

Category               0
Product Name           0
Price                200
Rating               240
Number of Reviews    240
Discounts            228
Link                 126
dtype: int64

In [53]:
df["Price"].fillna(df["Price"].mean(), inplace=True)
df["Rating"].fillna(df["Rating"].median(), inplace=True)
df["Discounts"].fillna(df["Discounts"].mode()[0], inplace=True)

<ipython-input-53-8307babd204d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(df["Price"].mean(), inplace=True)
<ipython-input-53-8307babd204d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(df["Rating"].median(), inplace=True)
<ipython-input-53-8307babd204d>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Discounts"].fillna(df["Discounts"].mode()[0], inplace=True)

In [54]:
df.dropna(subset=["Number of Reviews"], inplace=True)
df.dropna(subset=["Link"], inplace=True)

In [55]:
df.isnull().sum()

Category             0
Product Name         0
Price                0
Rating               0
Number of Reviews    0
Discounts            0
Link                 0
dtype: int64

In [56]:
df.duplicated().sum()

0

In [ ]:
df.shape

In [57]:
# Save the corrected cleaned dataset
cleaned_file_path = "amazon_products1_cleaned.csv"
df.to_csv(cleaned_file_path, index=False)

# Display updated dataset info
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1317 entries, 2 to 1910
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           1317 non-null   object
 1   Product Name       1317 non-null   object
 2   Price              1317 non-null   float64
 3   Rating             1317 non-null   float64
 4   Number of Reviews  1317 non-null   float64
 5   Discounts          1317 non-null   float64
 6   Link               1317 non-null   object
dtypes: float64(4), object(3)
memory usage: 82.3+ KB

(None,
   Category                                       Product Name     Price  \
 2  Laptops  Lenovo Yoga Slim 7 Aura Edition Intel Evo Core...  147990.0
 3  Laptops  Lenovo ThinkBook 14 Intel 13th Gen Core i3 14"...   43990.0
 4  Laptops  (Refurbished) Lenovo ThinkPad 8th Gen Intel Co...   18499.0
 5  Laptops  Lenovo V14 G3 Intel Core i5 12th Gen 1235U /16...   37350.0
 6  Laptops  HP Laptop 255 G9 AMD Ryzen 3 3250U Dual Core -...   24995.0

    Rating  Number of Reviews  Discounts  \
 2     5.0                3.0       29.0
 3     4.1               15.0       42.0
 4     3.4              173.0       63.0
 5     3.6               17.0       19.0
 6     3.4                5.0       44.0

                                                 Link
 2                 https://www.amazon.in/s?k=laptops#
 3                 https://www.amazon.in/s?k=laptops#
 4  https://www.amazon.in/Refurbished-Lenovo-Think...
 5  https://www.amazon.in/Lenovo-V14-G3-Graphics-B...
 6  https://www.amazon.in/HP-Laptop-255-G9-Ryzen/d...  )